<!--页面底部-->
<div class="layui-row" id="footer">
    <div id="copyright">&copy;2017 <a href="/">imeiwen.org</a></div>
    <div style="margin: 10px 0;">
        <div style="display: inline-block;"><a href="https://secure.php.net/" target="_blank"><img src="http://st.imeiwen.org/ele-running-2.gif" width="38"></a></div>
        <div style="display: inline-block; margin-left: 10px;"><a href="http://www.layui.com/" target="_blank">layui</a></div>
        <div id="cnzz" style="display: inline-block; margin-left: 10px; font-size: 14px;"><script src="https://s13.cnzz.com/z_stat.php?id=1271292246&web_id=1271292246" language="JavaScript"></script></div>
    </div>
</div>