<style type="text/css">
    #footer {
        margin: 30px 0 0 0;
        border-top: 1px solid #d2d2d2;
        font-size: 14px;
        padding: 5px 0 0 0;
        line-height: 26px;
        color: #333;
    }
    #footer a {
        color: #666 !important;
    }
</style>
<!--页面底部-->
<div class="layui-row layui-col-space10" id="footer">
    <div class="layui-col-md4">
        <div>&copy;2017 <a href="/">imeiwen.org</a></div>
        <div><?=\Config\System::$site['note']?></div>
        <div>蜀ICP备17041329号-1</div>
    </div>
    <div class="layui-col-md8">
        <div class=" layui-breadcrumb" lay-separator="·">
            <?php foreach (\Config\System::$menu['normal'] as $v): ?>
            <a href="<?=$v['url']?>" title="<?=$v['note']?>"><?=$v['note']?></a>
            <?php endforeach; ?>
        </div>
        <div class=" layui-breadcrumb" lay-separator="·">
            <?php foreach (\Config\System::$menu['more'] as $v): ?>
            <a href="<?=$v['url']?>" title="<?=$v['note']?>"><?=$v['note']?></a>
            <?php endforeach; ?>
        </div>
    </div>
</div>
<!--baidu tongji-->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?5ecb4a966d9d3e97f63b8116341c4c26";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>