<!--导航菜单-->
<ul class="layui-nav layui-bg-cyan">
    <li id="logo"><a href="/" title="爱美文网，精典短篇美文/诗歌收集珍藏"><img src="/logo.png" title="爱美文网"></a></li>
    <li class="layui-nav-item layui-this"><a href="/" title="推荐文章阅读">推荐</a></li>
    <li class="layui-nav-item"><a href="/hot" title="热门浏览阅读">热门</a></li>
    <li class="layui-nav-item"><a href="/new" title="最近更新文章">最新</a></li>
    <li class="layui-nav-item"><a href="/random" title="随机浏览阅读">随机</a></li>
    <li class="layui-nav-item"><a href="/topiclist" title="文章关键词与作者归类">主题</a></li>
    <li class="layui-nav-item"><a href="/meiriyiwen" title="微信订阅号每日一文">每日一文</a></li>
    <li class="layui-nav-item"><a href="/page/weixindingyue" title="微信公众号订阅">微信订阅</a></li>
</ul>