<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title><?=$info['title']?> | <?=$info['author']?> - imeiwen.org</title>
        <meta name="keywords" content="爱美文,爱美文网,<?=$info['keywords']?>">
        <meta name="description" content="<?=$info['description']?>">
        <link rel="shortcut icon" href="/favicon.png?2" type="image/x-icon" />
        <link rel="stylesheet" href="/layui/dist/css/layui.css?<?=$version?>">
        <link rel="stylesheet" href="/post.css?<?=$version?>">
    </head>
    <body>
        <!-- 你的HTML代码 -->
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-md2">&nbsp;</div>
                <div class="layui-col-md8" id="post-item">
                    <!--文章id-->
                    <div id="post_id" style="display: none"><?=$info['post_id']?></div>
                    <!--文章标题-->
                    <div class="title"><h2><?=$info['title']?></h2></div>
                    <hr>
                    <!--文章发布日期/作者-->
                    <div class="author-indexlink">
                        <div class="date"><?=date('Y-m-d', $info['input_time'])?></div>
                        <div class="index-link"><a href="/" title="返回爱美文网首页">爱美文网</a></div>
                        <div class="views"<?php if($info['page_view'] <= 200): ?> style="display: none;"<?php endif; ?>>阅读(<span id="page_view"><?=$info['page_view']?></span>)</div>
                    </div>
                    <!--文章配图-->
                    <div class="post-image">
                        <div class="image-loading">
                            图加载中...
                        </div>
                        <img id="post-image-id"  src="" data-attr="<?=\Config\Qiniu::$domain . $info['image_url']?>?imageView2/2/w/780/<?=$info['image_up_time']?>">
                    </div>

                    <div class="author">文/<?=$info['author']?></div>

                    <!--文章正文-->
                    <div class="post-content"><?=nl2br($info['content'])?></div>

                    <!--关键词-->
                    <?php if (isset($info['relate_pt']) && ($info['relate_pt']['keyword'] || $info['relate_pt']['category'])): ?>                    
                    <div class="relate-pt">
                        <span class="layui-badge-rim">标签</span> 
                        <?php if ($info['relate_pt']['keyword']): ?>
                        <?php foreach ($info['relate_pt']['keyword'] as $kw => $tid): ?>
                        <?php if ($tid): ?><a href="/topic/<?=$tid?>" class="layui-badge layui-bg-cyan"><?=$kw?></a><?php else: ?><span class="layui-badge layui-bg-gray"><?=$kw?></span><?php endif; ?>
                        <?php endforeach; ?>
                        <?php endif; ?>

                        <?php if ($info['relate_pt']['category']): ?>
                        <?php foreach ($info['relate_pt']['category'] as $v): ?>
                        <a href="/topic/<?=$v['topic_id']?>" class="layui-badge layui-bg-cyan"><?=$v['title']?></a>
                        <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                    <?php endif; ?>

                    <!--推荐阅读-->
                    <?php if ($info['relation']): ?>
                    <div class="more-read-container">
                        <div class="more-title">推荐阅读</div>
                        <div class="more-read">
                            <ol>
                                <?php foreach ($info['relation'] as $r): ?>
                                <li><a href="/post/<?=$r['post_id']?>" title="<?=$r['title']?> | <?=$r['author']?>"><?=$r['title']?> - <?=$r['author']?></a></li>
                                <?php endforeach; ?>
                            </ol>
                        </div>
                    </div>
                    <?php endif; ?>

                    <?php require TPL_PATH . 'home/footer.html'; ?>

                </div>
                <div class="layui-col-md2">&nbsp;</div>
            </div>
        </div>
        <div class="qrcode">
            <img src="/qrcode_imeiwen.jpg" alt="爱美文公众号二维码" />
            <p>微信扫一扫<br>关注爱美文</p>
        </div>
        <script src="/layui/dist/layui.js?<?=$version?>"></script>
        <script src="/post.js?<?=$version?>"></script>
    </body>
</html>