<div class="layui-row layui-col-space10" id="content">
    <?php foreach($post_list as $r): ?>
    <div class="layui-col-md4">
        <div class="item">
            <div class="thumb">
                <a href="/post/<?=$r['post_id']?>" target="_blank" title="<?=$r['title']?>|<?=$r['author']?>"><img src="" data-src="<?=\Config\Qiniu::$domain . $r['image_url']?>?imageView2/2/w/450/<?=$r['image_up_time']?>"></a>
            </div>
            <div class="text">
                <div class="title"><a href="/post/<?=$r['post_id']?>" target="_blank"><?=$r['title']?></a></div>
                <div class="note"><a href="/post/<?=$r['post_id']?>" target="_blank"><?=$r['long_title']?></a></div>
                <div class="relate-pt">
                    <?php if ($r['relate_pt']['keyword']): ?>
                        <?php foreach ($r['relate_pt']['keyword'] as $kw => $tid): ?>
                            <?php if ($tid): ?>
                            <a class="layui-badge layui-bg-cyan" href="/topic/<?=$tid?>"><?=$kw?></a>
                            <?php else: ?>
                            <span class="layui-badge layui-bg-gray"><?=$kw?></span>
                            <?php endif; ?>
                        <?php endforeach;?>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
    <?php endforeach; ?>
</div>