<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <div id="ads">
            <script type="text/javascript">
                document.write('<a style="display:none!important" id="tanx-a-mm_14291462_40772385_164752932"></a>');
                tanx_s = document.createElement("script");
                tanx_s.type = "text/javascript";
                tanx_s.charset = "gbk";
                tanx_s.id = "tanx-s-mm_14291462_40772385_164752932";
                tanx_s.async = true;
                tanx_s.src = "http://p.tanx.com/ex?i=mm_14291462_40772385_164752932";
                tanx_h = document.getElementsByTagName("head")[0];
                if (tanx_h)
                    tanx_h.insertBefore(tanx_s, tanx_h.firstChild);
            </script>
        </div>
        <br>
        <div id="ads2">
            <script type="text/javascript">
                document.write('<a style="display:none!important" id="tanx-a-mm_14291462_40772385_164778437"></a>');
                tanx_s = document.createElement("script");
                tanx_s.type = "text/javascript";
                tanx_s.charset = "gbk";
                tanx_s.id = "tanx-s-mm_14291462_40772385_164778437";
                tanx_s.async = true;
                tanx_s.src = "http://p.tanx.com/ex?i=mm_14291462_40772385_164778437";
                tanx_h = document.getElementsByTagName("head")[0];
                if (tanx_h)
                    tanx_h.insertBefore(tanx_s, tanx_h.firstChild);
            </script>
        </div>
    </body>
</html>
