<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title><?=$result['title']?> - 爱美文网</title>
        <meta name="keywords" content="<?=$result['keyword']?>">
        <meta name="description" content="<?=$result['note']?>">
        <link rel="shortcut icon" href="/favicon.png?2" type="image/x-icon" />
        <link rel="stylesheet" href="/layui/dist/css/layui.css?<?=$version?>">
        <link rel="stylesheet" href="/site.css?<?=$version?>">
    </head>
    <body>
        <!-- 你的HTML代码 -->
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <?php require TPL_PATH . 'home/header.html'; ?>

        <div class="layui-container">

            <input type="hidden" id="identify-val" value="<?=$identify?>" />
            <!--页面主题内容-->
            <fieldset class="layui-elem-field" style="margin: 30px 0;">
                <legend><span class="layui-badge-rim layui-bg-gray" style="font-size: 18px; padding: 2px; 3px;">主题 :: <?=$result['title']?></span></legend>
                <div class="layui-field-box">
                    <!--描述-->
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin: 5px 0;" id="quote-note">
                        <p>
                            <i class="layui-icon" style="color: #666; font-weight: 500; font-size: 20px;">&#xe60b;</i>
                            <?=$result['note']?>
                        </p>
                    </blockquote>
                </div>
            </fieldset>

            <div class="layui-row layui-col-space10">
                <div class="layui-col-md4">
                    <select id="topic-detail-change-page">
                        <?php for ($i = 1; $i <= $total_page; $i++): ?>
                        <?php if ($i == $page): ?>
                        <option value="<?=$i?>" selected="selected">第<?=$i?>页</option>
                        <?php else: ?>
                        <option value="<?=$i?>">第<?=$i?>页</option>
                        <?php endif; ?>
                        <?php endfor; ?>
                    </select>
                </div>
            </div>

            <?php require TPL_PATH . 'home/post_item.html'; ?>

            <div class="layui-row layui-col-space10">
                <div class="layui-col-md4">
                    <select id="topic-detail-change-page">
                        <?php for ($i = 1; $i <= $total_page; $i++): ?>
                        <?php if ($i == $page): ?>
                        <option value="<?=$i?>" selected="selected">第<?=$i?>页</option>
                        <?php else: ?>
                        <option value="<?=$i?>">第<?=$i?>页</option>
                        <?php endif; ?>
                        <?php endfor; ?>
                    </select>
                </div>
            </div>

            <div style="display: none">
                <?php for ($i = 1; $i <= $total_page; $i++): ?>
                <a href="/topic/<?=$identify?>/<?=$i?>">第<?=$i?>页</a>
                <?php endfor; ?>
            </div>
            
            <?php require TPL_PATH . 'home/footer.html'; ?>

        </div>
        <script src="/layui/dist/layui.js?<?=$version?>"></script>
        <script src="/site.js?<?=$version?>"></script>
    </body>
</html>