#mobile-top-nav {
    margin: 0;
    background-color: #2F4056;
}
@media screen and (max-width: 400px) {
    .layui-nav {
        padding: 0 0 0 10px !important;
    }
    #logo {
        margin: 16px 10px 0 0 !important;
    }
    #logo img {
        height: 26px !important;
    }
    .layui-nav-item a {
        padding: 0 11px !important;
    }
    .layui-nav-more {
        right: 0px !important;
    }
}
#logo {
    margin: 15px 10px 0 0;
    padding: 0;
    float: left;
}
@media screen and (min-width: 600px) {
    #logo {
        margin: 15px 20px 0 0 !important;
    }
}
#logo img {
    padding: 0;
    margin: 0;
    height: 30px;
}
.layui-nav-item a {
    font-size: 16px !important;
}
#quote-note {
    font-size: 16px;
    color: #999;
    line-height: 26px;
}
#quote-note p {
    width: 96%;
}
.page-select {
    padding: 5px 5px 9px 5px;
    font-size: 14px;
    color: #999;
    margin-right: 8px;
}
.item {
    border: 1px solid #d2d2d2;
    padding: 1px;
}
.thumb {
    overflow: hidden;
    background-color: #d2d2d2;
}
.title,.note {
    padding: 3px;
    margin: 5px;
}
.title a {
    color: #666;
}
.title a:hover {
    color: #333;
}
.note {
    line-height: 20px;
}
@media screen and (min-width: 980px) and (max-width: 1200px) {
    .note {
        min-height: 60px;
    }
}
@media screen and (min-width: 1200px) {
    .note {
        min-height: 45px;
    }
}
.note a {
    color: #999;
}
.note a:hover {
    color: #666;
}
.pt-date {
    position: relative;
}
.relate-pt {
    color: #666;
    padding: 3px 3px 5px 3px;
    margin: 5px 5px 8px 5px;
}
.date {
    color: #999;
    font-size: 16px;
    position: absolute;
    top: 3px;
    right: 20px;
}
.index-topic-item {
    border: 1px solid #d2d2d2;
    padding: 10px;
}
.topic-title {
    margin: 14px 0;
}
.topic-title a {
    font-size: 16px;
    padding: 5px 8px;
}
@media screen and (min-width: 990px) {
    .topic-note {
        min-height: 80px;
    }
}
.topic-note a {
    color: #666;
    line-height: 22px;
}
.topic-note a:hover {
    color: #999;
}
.list-page, .topiclist-page, .topicitem-page {
    margin-top: 30px;
    margin-left: 5px;
}
.page-content-div {
    min-height: 600px;
    margin-top: 30px;
}
.page-content {
    color: #3e3e3e;
    font-size: 16px;
    word-wrap: break-word;
    line-height: 26px;
    padding: 5px;
}
.page-content img {
    border: 1px solid #d2d2d2;
}