<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>主题列表 - 爱美文网</title>
        <link rel="stylesheet" href="/layui/dist/css/layui.css">
        <style type="text/css">
            .layui-table-cell {
                height: auto !important;
            }
            .topic_item {
                text-decoration: underline #009688 dashed !important;
            }
        </style>
    </head>
    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            <?php require TPL_PATH . 'admin/header.html'; ?>
            <div class="layui-body">
                <div style="width: 800px; padding: 10px;">
                    <!-- 内容主体区域 -->
                    <fieldset class="layui-elem-field">
                        <legend>主题列表</legend>
                        <form class="layui-form layui-form-pane" style="padding: 20px 1px 1px 20px;">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">主题状态</label>
                                    <div class="layui-input-inline">
                                        <select name="status">
                                            <option value="">全部</option>
                                            <option value="1">显示</option>
                                            <option value="0">隐藏</option>
                                        </select>     
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn" lay-submit lay-filter="*">查询</button></div>
                            </div>
                        </form>
                        <div style="padding: 0px 10px 5px 20px;">
                            <table id="data_list" lay-filter="data_list"></table>
                        </div>
                    </fieldset>
                </div>
            </div>
            <?php require TPL_PATH . 'admin/footer.html'; ?>
        </div>
        <script src="/layui/dist/layui.js"></script>
        <script>
            layui.use(['element', 'table', 'form'], function () {
                var element = layui.element, table = layui.table, form = layui.form;
                table.render({
                    elem: '#data_list',
                    height: 'auto',
                    page: true,
                    loading: true,
                    id: 'data_list',
                    url: '/admin/topic/search',
                    limits: [20, 50],
                    limit: 20,
                    method: 'post',
                    cols: [[
                            {field: 'id', title: 'ID', width: 80},
                            {field: 'title', title: '主题标题', width: 200},
                            {field: 'long_title', title: '描述', width: 260},
                            {field: 'category', title: '关联分类', width: 100},
                            {field: 'post_keyword', title: '关联关键词', width: 200},
                            {field: 'post_status', title: '关联文章状态', width: 200},
                            {field: 'count', title: '文章数量', width: 120},
                            {field: 'status', title: '状态', width: 100},
                            {field: 'op_string', title: '操作', width: 150}
                        ]]
                });

                form.on('submit(*)', function (data) {
                    table.reload('data_list', {
                        where: data.field
                    });
                    return false;
                });
            });
        </script>
    </body>
</html>