.loginFrame {
    width: 450px;
    margin: 200px auto;
}
.input {
    padding: 4px 1px;
}
.button {
    padding: 4px 1px;
}
.button2 {
    padding:4px 10px;
    font-size: 14px;
    font-weight: bold;
}
.post_note {
    color: red;
}
.nav {
    width: 150px;
    padding: 2px;
    background-color: #CCCCCC;
    float: left;
}
.nav ul li {
    list-style: none;
    margin: 10px 0;
    font-size:16px;
}
.nav a {
    color: #333333;
}

.post_list ul {
    margin: 0;
    padding: 0;
}
.post_list ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
}
.post_list a {
}
.post_list_title {
    text-decoration: underline;
}

.right_content, .post_list {
    float: left;
    margin-left: 30px;
}
.right_content textarea {
    padding: 5px;
}

#content_draft {
    margin-left: 30px;
}

.page_show {
    margin: 3px;
}
.page_show a {
    padding: 1px 5px;
    font-size: 18px;
}