<div class="layui-header">
    <div class="layui-logo">爱美文网后台管理</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="/admin/index">后台首页</a></li>
        
        <li class="layui-nav-item">
            <a href="javascript:;">内容发布</a>
            <dl class="layui-nav-child">
                <dd><a href="/admin/post/add">文章</a></dd>
                <dd><a href="/admin/page/add">单页</a></dd>
            </dl>
        </li>
        
        <li class="layui-nav-item">
            <a href="javascript:;">网站更新</a>
            <dl class="layui-nav-child">
                <dd><a href="/admin/update/keywords">词库更新</a></dd>
                <dd><a href="/admin/update/topic">主题数据更新</a></dd>
                <dd><a href="/admin/update/meiriyiwen">每日一文数据更新</a></dd>
                <dd><a href="/admin/update/post">文章数据更新</a></dd>
            </dl>
        </li>
    </ul>
    
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="<?=\Config\Qiniu::$domain?>/touxiang.jpg" class="layui-nav-img">
                阿D
            </a>
        </li>
        <li class="layui-nav-item"><a href="/admin/io/logout">退出</a></li>
    </ul>
</div>

<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航）-->
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item"><a href="/admin/post/add"><i class="layui-icon" style="font-size: 16px; color: #009688;">&#xe61f;</i>发布文章</a></li>
            <li class="layui-nav-item"><a href="/admin/post/index"><i class="layui-icon" style="font-size: 16px; color: #009688;">&#xe60a;</i>文章列表</a></li>
            <li class="layui-nav-item"><a href="/admin/topic/index"><i class="layui-icon" style="font-size: 16px; color: #009688;">&#xe60a;</i>主题列表</a></li>
            <li class="layui-nav-item"><a href="/admin/page/add"><i class="layui-icon" style="font-size: 16px; color: #009688;">&#xe61f;</i>创建单页</a></li>
            <li class="layui-nav-item"><a href="/admin/page/index"><i class="layui-icon" style="font-size: 16px; color: #009688;">&#xe60a;</i>单页列表</a></li>
            <li class="layui-nav-item"><a href="/" target="_blank"><i class="layui-icon" style="font-size: 16px; color: #009688;">&#xe68e;</i>网站首页</a></li>
        </ul>
    </div>
</div>