<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>文章发布 - 爱美文网</title>
        <link rel="stylesheet" href="/layui/dist/css/layui.css">
    </head>
    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            <?php require TPL_PATH . 'admin/header.html'; ?>
            <div class="layui-body">
                <!-- 内容主体区域 -->
                <form class="layui-form" style="padding: 15px;">
                    <fieldset class="layui-elem-field">
                        <legend>文章发布</legend>
                        <div class="layui-field-box">
                            <div class="layui-form" style="width: 800px;">
                                <div class="layui-form-item">
                                    <label class='layui-form-label'>标题</label>
                                    <div class='layui-input-block'>
                                        <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class='layui-form-label'>作者</label>
                                    <div class='layui-input-block'>
                                        <input type="text" name="author" required lay-verify="required" placeholder="请输入作者名" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item" style="width: 400px;">
                                    <label class='layui-form-label'>分类</label>
                                    <div class='layui-input-block'>
                                        <select name="category">
                                            <option value="">选择分类</option>
                                            <?php foreach (\Config\System::$category as $k => $v): ?>
                                            <option value="<?=$k?>"><?=$v?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class='layui-form-label'>配图</label>
                                    <div class='layui-input-block'>
                                        <input type="hidden" name="image_url" id="image_url" value="">
                                        <p style="margin: 5px 0"><img src="<?=\Config\Qiniu::$domain?>default.png" width="200" id="image_view" /></p>
                                        <button type="button" class="layui-btn" id="upload">
                                            <i class="layui-icon">&#xe67c;</i>上传图片
                                        </button>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class='layui-form-label'>内容</label>
                                    <div class='layui-input-block'>
                                        <textarea name="content" rows="20" required lay-verify="required" placeholder="请输入文章内容" class="layui-textarea"></textarea>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class='layui-form-label'>长标题</label>
                                    <div class='layui-input-block'>
                                        <input type="text" name="long_title" placeholder="长标题" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class='layui-form-label'>关键词</label>
                                    <div class='layui-input-block'>
                                        <input type="text" name="keywords" placeholder="请输入关键词, 多个以','分隔" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class='layui-form-label'>简要描述</label>
                                    <div class='layui-input-block'>
                                        <textarea name="description" placeholder="请输入简要描述" class="layui-textarea"></textarea>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class='layui-form-label'>微信文章URL</label>
                                    <div class='layui-input-block'>
                                        <input type="text" name="weixin_url" placeholder="请输入微信文章URL" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class='layui-form-label'>微信文章发布日期</label>
                                    <div class='layui-input-block'>
                                        <input type="text" name="weixin_up_datetime" placeholder="请输入微信文章发布日期, 格式2017-11-01" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label class='layui-form-label'>状态</label>
                                    <div class='layui-input-block'>
                                        <select name="status">
                                            <option value="0">隐藏</option>
                                            <option value="1">显示</option>
                                            <option value="2">推荐</option>
                                            <option value="3">首页推荐</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block" style="padding: 20px 0;">
                                        <button class="layui-btn" lay-submit lay-filter="*" id="submit">立即提交</button>
                                        <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
                                    </div>
                                </div>

                            </div>
                    </fieldset>
                </form>
            </div>
            <?php require TPL_PATH . 'admin/footer.html'; ?>
        </div>
        <script src="/layui/dist/layui.js"></script>
        <script>
            layui.use(['element', 'form', 'upload', 'jquery', 'layer'], function () {
                var element = layui.element, form = layui.form, upload = layui.upload, $ = layui.$, layer = layui.layer;
                var uploader = upload.render({
                    elem: '#upload',
                    auto: false,
                    exts: 'jpg|jpeg|png',
                    field: 'image',
                    size: 200,
                    drag: false,
                    choose: function (obj) {
                        obj.preview(function (index, file, result) {
                            $('#image_view').attr('src', result);
                            $('#image_url').val(result);
                        });
                    },
                });

                form.on('submit(*)', function (data) {
                    $('#submit').addClass('layui-btn-disabled').html('提交中...');
                    $('#result').addClass('layui-btn-disabled');
                    $.post('/admin/post/add', data.field, function (result) {
                        result = $.parseJSON(result);
                        if (result.error == 0) {
                            layer.open({
                                content: result.message,
                                icon: 6,
                                yes: function (index, layero) {
                                    layer.close(index);
                                    window.location.href = '/admin/post/edit?id=' + result.data.id;
                                }
                            });
                        } else {
                            $('#submit').removeClass('layui-btn-disabled').html('立即提交');
                            $('#result').removeClass('layui-btn-disabled');
                            layer.alert(result.message, {icon: 5});
                        }
                    });
                    return false;
                });
            });
        </script>
    </body>
</html>